body,html
{
    margin: 0 0 0 0;
    background-color: #ddccc4;
}
header
{
   position: absolute;
   background-color: #ddccc4;
   height: 80px;
   width: 100%;
   left: 0;
   top: 0;
   box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
nav
{
    position: absolute;
    height: 60px;
    top: 25px;
    left: 45%;
    overflow: hidden;
}
nav a
{
    color: #311912;
    font-size: 30px;
    font-family: Arial;
    padding: 18px;
}
div
{
    color: red;
}
.header-button 
{
    color: white;
    background-color: #5d1a1e;
    background: linear-gradient(to bottom, #5d1a1e,#311912);
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
.grow
{
    display: inline-block;
    transition-property: inherit;

    &:hover
    {
        transform: scale(1.1);
    }
}
.hero-text
{
    color: #311912;
    font-family: Arial bold;
    width: 40%;
    height: 40%;
    padding-left: 1%;
}
